html,body{
    overflow-y: hidden !important;
}
.error{
    color:red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.submit{
    padding:20px;
}
hr{
    margin-bottom: 0px;
}
.heading{
    padding-bottom: 5px;
}